/**My Modern CSS Reset**/
/**Setting of all base sizing units**/

html {
  font-size: 100%; /*16px*/
  box-sizing: border-box;
}

/**Set all elements and pseudo elements to use a box-sizing of border-box**/
/**All units of padding and border does not affect the overall width and height of the container**/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**Remove default margins on these elements which get set by the browser (user-agent)**/
body,
h1,
h2,
h3,
h4,
li,
p,
figure,
figcaption,
q,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

body {
  min-height: 100vh; /*body fills the viewport, even when empty*/
  text-rendering: optimizeSpeed; /*avoids performance issues*/
  line-height: 1.5; /*offers enough space to have accessible, readable text*/
}

img {
  display: block; /*so it behave like a block-level element and can its adjust height and width*/
  max-width: 100%; /*ensures an image does not scale beyond its original width*/
  /* It is less common to specify the height of elements */
}

input,
button,
textarea,
select {
  font: inherit; /*adopts the font feautures of the parent*/
}
