#container {
  display: grid;
  grid-template-columns: 10rem minmax(25em, 1fr) 30vw;
  grid-template-rows: auto 3rem auto 3rem;
  grid-template-areas:
    "header header header"
    ". . ."
    ". main aside"
    "footer footer footer";
}
p {
  margin-bottom: 2rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  /* border: 1px double rgb(230, 200, 30); */
  padding: 0 0 2rem;
  text-align: left;
}
aside {
  grid-area: aside;
  margin: 4rem 3rem;
}

footer {
  grid-area: footer;
}
