@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,900;1,500&display=swap");

/**********************************RESPONSIVE SECTION********************************/
.navbar {
  background-color: #e4e8f3;
}
main {
  margin: 0 auto;
  padding: 5% 0 0;
}
/**Blog details**/

#main-content {
  /* outline: 1px solid; */
  margin: 0 0 0 15%;
}
#main-content header {
  text-align: left;
}

#blog-heading {
  margin-bottom: 0.25em;
  font-size: 4em;
  color: #404040;
}
.blog-info {
  display: flex;
  margin-bottom: 2em;
}
.blog-info > * {
  font-size: 0.8em;
  margin-right: 1.5em;
}
.blog-info .icon {
  margin-right: 0.3em;
}

/**Essay**/
.essay {
  padding-bottom: 2.5em;
  border-bottom: 1px solid #797979;
  max-width: 650px;
  text-align: center;
}
.essay img {
  display: block;
  max-width: 650px;
  margin: 0 auto 1.5em;
}

.essay p {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  margin-bottom: 1.3em;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: justify;
}

.essay q {
  display: block;
  color: var(--colorBrown);
  border-left: 6px solid #797979;
  border-top-left-radius: 10px;
  margin: 2em 1.5em;
  padding-left: 1.2em;
  font-size: 1.3em;
  text-align: left;
}

.articles {
  padding: 5% 15%;
}
.articles h2 {
  text-align: left;
  margin-bottom: 1em;
}

.card {
  /* outline: 1px solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.article-card {
  width: 32.2%;
  text-align: left;
  margin-bottom: 1em;
}
.article-card img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.625em;
}
.article-card h3 a {
  font-size: 1em;
  color: var(--Complementary-color);
  margin-bottom: 0.625em;
}
.article-card p {
  text-align: justify;
  color: rgb(151, 151, 151);
}
