.navbar {
  padding: 0.5em 5%;
}
footer {
  padding: 3% 5%;
}
main {
  padding: 2% 5% 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 15em auto;
  /* outline: 1px solid; */
}

.sidebar {
  background: var(--backgroundColor);
  /* box-shadow: 0.3px 0.001px 6px 0.1px var(--Complementary-color); */
  /* border-right: 1px solid var(--Complementary-color); */
}
.sidebar * {
  text-align: left;
}
.topics {
  position: sticky;
  top: 0px;
}

.topics h1 {
  font-size: 1.1em;
  font-weight: 700;
  padding: 1em 0;
}
.topics ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.8em;
  font-style: italic;
  letter-spacing: 0.2ch;
  color: var(--Complementary-color);
}
.topics li {
  padding: 3% 0;
}
.topics ul a {
  color: var(--Complementary-color);
}
.topics ul a:hover {
  /* color: var(--backgroundColor); */
  /* background-color: var(--Dominant-color); */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 1em;
  transition: 0.2s ease;
}
.topics ul a:focus-visible {
  color: var(--Dominant-color);
  background-color: var(--backgroundColor);
}

/**************************EXTRA LINKS****************************/
.other-resources {
  text-align: left;
}
.other-resources h1 {
  font-family: var(--font-Inter);
  font-size: 2.5em;
  font-weight: 900;
  padding: 0 3% 1em;
  color: var(--Complementary-color);
}
.other-resources article {
  margin-bottom: 3em;
  padding-bottom: 1.5em;
  padding: 0 3% 1.5em;
}
.border-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75em;
  color: var(--Complementary-color);
}
.back {
  border-bottom: 2px solid;
}
.other-resources h3 {
  text-align: left;
  padding-left: unset;
  padding-right: 0.5em;
}
.other-resources .links {
  display: flex;

  gap: 0.5em;
  flex-flow: wrap;
  justify-content: space-between;
}

.other-resources li {
  list-style-type: none;
  border-left: 5px solid var(--Dominant-color);
  margin-bottom: 0.625rem;
  padding-left: 1em;
  border-top-left-radius: 5px;
}
.other-resources a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 0.9em;
}
.other-resources a:hover {
  color: var(--Dominant-color);
}
