@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,900;1,500&display=swap");

:root {
  --backgroundColor: #f8f8f8;
  --fontColor: #0f0f0f;
  --colorOne: #ee3124;
  --colorTwo: #030958;
  --colorThree: #78cac6;
  --colorFour: #391e55;
  --colorFive: #8b0d3a;
  --colorSix: #a61d3e;
  --colorBrown: #865439;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Montserrat", serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--fontColor);
  /* color: #03045e; */
  background-color: var(--backgroundColor);
  /* background-color: #caf0f8; */
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
  /* background: linear-gradient(25deg, #caf0f8, #caf0f8, #f8f8f8, #f8f8f8); */
}
p {
  font-size: 1em;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: var(--fontColor);
}

/**HEADER Section**/
#main-header {
  width: 100%;
  height: auto;
  position: relative;
  color: var(--fontColor);
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  background-color: var(--colorFour);
  /* background-color: #caf0f8; */
  padding: 0.625em 10%;
}

.nav-links {
  display: flex;
  flex-flow: wrap;
}

.nav-links li {
  margin-left: 4.5rem;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--backgroundColor);
  /* color: white; */
  font-weight: 600;
  font-size: 1.2rem;
}

/**HERO Section**/
.hero {
  position: relative;
  width: 100%;
  height: auto;
  /* outline: 1px solid black; */
  background-color: var(--colorBrown);
  padding: 7% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.hero .intro {
  color: #0f0f0f;
  /* color: #0f0f0f; */
  font-size: 4.5em;
}
.hero .intro {
  color: var(--backgroundColor);
}

/**MAIN Section**/
.top-banner {
  background-color: var(--backgroundColor);
  /* border: 1px solid var(--fontColor); */
  border-radius: 10px;
  box-shadow: 2px 2px 6px var(--fontColor), -2px -2px 6px var(--fontColor),
    -2px 2px 6px var(--fontColor), 2px -2px 6px var(--fontColor);
  max-width: 80%;
  margin: -10em auto 0;
  height: auto;
  display: grid;
  place-items: center;
  padding: 5em 7em;
}
.top-banner h1 {
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
/**SECTION One**/
#sectionOne {
  /* outline: 1px solid var(--colorFive); */
  padding: 2% 10%;
  margin: 5% 0;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article section";
  grid-auto-rows: auto;
  gap: 1em;
}
.essay-card {
  /* outline: 1px solid var(--fontColor); */
  padding: 1.5em 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
  border-top: 2px solid var(--colorBrown);
  /* max-height: 16rem; */
  grid-area: article;
}
.essay-card .content {
  /* outline: 1px solid var(--fontColor); */
  margin-right: 1em;
}
.essay-card h3 {
  font-size: 1.8em;
  margin-bottom: 1em;
}
.essay-card time {
  display: inline-block;
  font-style: italic;
}
.essay-card p {
  margin-bottom: 1em;
}
.essay-card .info {
  margin-left: auto;
  font-size: 80%;
}
.info .author {
  font-style: italic;
}
.essay-card img {
  display: block;
  width: 100%;
}
#section1 .side-content {
  border-left: 1px solid var(--colorBrown);
  grid-area: section;
}
#sectionOne h2,
#sectionTwo h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 4.5rem;
}

/**GRID Section**/
#sectionTwo {
  background-color: var(--colorThree);
  outline: 1px solid rgb(12, 133, 66);
  padding: 7% 10%;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex > span {
  font-size: 2em;
  font-weight: bold;
  color: var(--colorSix);
}

/**FOOTER Section**/
footer {
  padding: 7% 10%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* background-color: #0f0f0f; */
  color: white;
  color: #0f0f0f;
  /* outline: 1px solid black; */
  /* border-top: 3px solid tomato; */
  background: var(--colorBrown);
}
footer a {
  text-decoration: none;
  color: #0f0f0f;
  /* color: white; */
}

.copyright {
  font-weight: bold;
}

/**Mobile**/
@media screen and (min-width: 20em) {
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  nav {
    width: 100%;
  }

  .logo > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .navbar {
    padding: 0 2%;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  .navbar .logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    /* font-size: 1.5em; */
    letter-spacing: 0.2ch;
    color: #000000;
    padding: 0.5em 0;
  }

  ul .nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-links li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    flex: 1 1 100%;
  }
  .nav-links a {
    display: block;
    font-size: 1.2em;
    border-bottom: 1px solid #0f0f0f;
    padding: 0.25em 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin: 0.25em;
  }
  .hero {
    padding: 5% 5%;
  }
  .hero .intro {
    font-size: 4vw;
    text-align: center;
  }
  .hero h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1em;
    text-align: center;
  }
  .top-banner {
    display: none;
  }
  main {
    padding: 7% 0%;
  }
  #sectionOne {
    /* outline: 1px solid var(--colorFive); */
    margin: 7% 2%;
    padding: 2%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "article"
      "section";
    gap: 1em;
  }
  .essay-card {
    flex-direction: column;
    padding: 2% 0;
  }
  .essay-card img {
    display: block;
    width: 100;
    order: -1;
    border-radius: 5px;
  }
  .flex {
    flex-wrap: wrap;
  }

  footer {
    flex-wrap: wrap;
    padding: 1em 2%;
    margin: 0;
  }

  footer p {
    display: inline-block;
  }
  footer article > * {
    display: inline-block;
  }
  footer .icons a {
    margin-left: 0.5em;
  }
}

@media screen and (min-width: 25em) {
  main {
    padding-left: 7% 0%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }
  .nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .nav-links li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    flex: 0 0 auto;
  }
  .nav-links a {
    display: block;
    border-bottom: 2px solid #0f0f0f;
    font-size: 1.35em;
    padding: 0.3em 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin: 0.5em;
  }
  #sectionOne {
    /* outline: 1px solid var(--colorFive); */
    margin: 7% 2%;
    padding: 2%;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "article section";
    gap: 1em;
    padding: 0 10%;
  }
  .essay-card {
    /* outline: 1px solid var(--fontColor); */
    padding: 1.5em 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    border-top: 2px solid var(--colorBrown);
    /* max-height: 16rem; */
    grid-area: article;
  }
  .essay-card img {
    display: block;
    width: 100%;
    order: 2;
  }

  footer {
    flex-direction: row;
    align-items: center;
    padding: 1rem 10%;
  }
  footer p {
    display: inline-block;
  }
  footer article > * {
    display: inline-block;
  }
  footer .icons a {
    margin-left: 0.5em;
  }
  footer .icons a:hover {
    color: rgb(29, 29, 253);
  }

  @media screen and (min-width: 60em) {
    #main-header {
      font-size: 100%;
    }
    .navbar {
      height: auto;
      display: flex;
      justify-content: space-between;
      /* flex-flow: wrap; */
      align-items: center;
      padding: 0.625rem 10%;
      color: white;
    }
    nav {
      width: auto;
    }
    .nav-links {
      align-items: flex-start;
      margin: 0;
    }
    .nav-links li {
      margin: 0.25em 0.75em;
    }
    .nav-links a {
      display: block;
      font-size: 1.5em;
      border: none;
      padding: 0.3em 0.5em;
      margin: 0.5em;
    }
    .hero h1 {
      margin-bottom: 2rem;
    }
    .hero .intro {
      font-size: 3.5em;
      text-align: center;
      padding-left: 0;
    }
    .essay-card {
      /* outline: 1px solid var(--fontColor); */
      padding: 1.5em 0;
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: flex-start;
      border-top: 2px solid var(--colorBrown);
      /* max-height: 16rem; */
      grid-area: article;
    }
    .essay-card img {
      display: block;
      width: 100%;
      order: 2;
    }

    footer {
      flex-direction: row;
      align-items: center;
      padding: 2% 10%;
    }
    footer p {
      display: inline-block;
    }
    footer article > * {
      display: inline-block;
    }
    footer .icons a {
      margin-left: 1em;
      transition: ease-in 0.1s;
    }
    footer .icons a:hover {
      color: rgb(0, 0, 189);
      transform: translateY(-2px);
    }
  }
}
