@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,900;1,500&display=swap");
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Montserrat", serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #0f0f0f;
  background-color: #f8f8f8;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
}
p {
  font-size: 1em;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/**HEADER Section**/
#main-header {
  width: 100%;
  height: auto;
  position: relative;
  /* outline: 1px solid black; */
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  /* outline: 1px solid black; */
  background-color: #0f0f0fd2;
  padding: 0.625rem 10%;
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
}
.navbar .logo {
  text-shadow: 1px 1px 2px tomato;
  font-family: cursive;
}
.navbar .logo a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  flex-flow: wrap;
}

.nav-links li {
  margin-left: 4.5rem;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #0f0f0f;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

/**HERO Section**/
.hero {
  position: relative;
  width: 100%;
  height: auto;
  /* outline: 1px solid black; */
  padding: 7% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  /* background: rgb(255, 99, 71);
  background: linear-gradient(
    0deg,
    rgba(255, 99, 71, 1) 21%,
    rgba(15, 15, 15, 0.9396708512506565) 77%
  ); */
}
.hero .intro {
  color: rgb(255, 255, 255);
  /* color: #0f0f0f; */
  font-size: 4.5em;
  /* text-shadow: 1px 1px 2px tomato; */
  /* font-family: cursive; */
}

/**MAIN Section**/
/**SECTION One**/
#sectionOne {
  height: auto;
  /* outline: 1px solid black; */
  padding: 2% 10%;
  text-align: center;
}
#sectionOne h2,
#sectionTwo h2,
#cta h2 {
  text-shadow: 1px 1px 2px tomato;
  font-family: cursive;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 4.5rem;
}
.item {
  width: 300px;
  height: auto;
  /* border: 1px solid red; */
  padding-bottom: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}
.item img {
  width: 100%;
  height: 16rem;
  /* background-color: tomato; */
  margin-bottom: 1rem;
  border-radius: 10px;
  object-fit: cover;
}
.item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}
.item p {
  font-size: 1em;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: wrap;
}

/**GRID Section**/
#sectionTwo {
  height: auto;
  outline: 1px solid rgb(12, 133, 66);
  /* background-color: #0f0f0f; */
  /* color: white; */
  padding: 7% 10%;
}
/* #sectionTwo .container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 0.25rem;
  grid-auto-rows: 100px;
  height: auto;
  width: 100%;
} */
.grid .item1 {
  grid-column: 1 / 2;
  /* background: url(./Images/infographic.png); */
}
.grid .item3 {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
}
.grid .item4 {
  grid-column: 1 / 3;
}
.grid .item5 {
  grid-column: 1 / span 1;
  grid-row: 3 / -1;
  /* background: url(./Images/C++.jpg); */
  /* object-fit: contain; */
}
.grid .item6 {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}

.card {
  height: auto;
  width: 100%;
  background-color: #0f0f0f;
  border-radius: 10px;
  font-size: 2rem;
  font-family: cursive;
  color: white;
  text-shadow: 1px 1px 2px tomato;
  padding-top: 2rem;
}

/**Call To Action**/
#cta {
  height: auto;
  /* outline: 1px solid rgb(196, 63, 63); */
  padding: 7% 10%;
}
.call-to-action {
  margin-bottom: 2.5rem;
}
#cta h2 {
  margin: 0 0 2rem;
}
#cta p {
  font-size: 1.8rem;
  margin: 0 0 2.5rem;
}

#cta button {
  padding: 0.5rem 1rem;
  width: auto;
  font-size: 1.2em;
  font-weight: bold;
  font-family: cursive;
  color: white;
  background-color: #0f0f0f;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 1px 2px #0f0f0f;
}
/**FOOTNOTE QUOTE**/
.footnote {
  padding: 7% 10% 7%;
}
.footnote p {
  color: tomato;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
}
.footnote q {
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  color: tomato;
  text-align: left;
}

/**FOOTER Section**/
footer {
  padding: 0 10%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* background-color: #0f0f0f; */
  color: white;
  color: #0f0f0f;
  /* outline: 1px solid black; */
  border-top: 3px solid tomato;
}
footer a {
  text-decoration: none;
  color: #0f0f0f;
  /* color: white; */
}
.tc {
  text-align: left;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.copyright {
  font-weight: bold;
}

/**Mobile**/
@media screen and (min-width: 320px) {
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  nav {
    width: 100%;
  }
  .navbar {
    padding: 0 2%;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  ul .nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-links li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    flex: 1 1 100%;
  }
  .nav-links a {
    display: block;
    border: 1px solid white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin: 0.25em;
  }
  .hero {
    padding: 5% 5%;
  }
  .hero .intro {
    font-size: 4vw;
    text-align: justify;
  }
  .hero h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1em;
    text-align: center;
  }
  main {
    padding: 7% 0%;
  }
}

@media screen and (min-width: 600px) {
  main {
    padding-left: 7% 0%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }
  .nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .nav-links li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    flex: 0 0 auto;
  }
  .nav-links a {
    display: block;
    border: 1px solid white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
  }
}

@media screen and (min-width: 1024px) {
  #main-header {
    font-size: 100%;
  }
  .navbar {
    height: auto;
    display: flex;
    justify-content: space-between;
    /* flex-flow: wrap; */
    align-items: center;
    /* outline: 1px solid black; */
    background-color: #0f0f0fd2;
    padding: 0.625rem 10%;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  }
  nav {
    width: auto;
  }
  .nav-links {
    /* flex-direction: column; */
    align-items: flex-start;
    margin: 0;
  }
  .nav-links li {
    margin: 0.25em 0.75em;
  }
  .nav-links a {
    display: block;
    font-size: 1rem;
    border: none;
    padding: 0.3em 0.5em;
    margin: 0.5em;
  }
  main {
    padding: 7% 10%;
  }
  .hero h1 {
    margin-bottom: 2rem;
  }
  .hero .intro {
    font-size: 3.5em;
    text-align: center;
    padding-left: 0;
  }
  .intro p {
    font-size: 50%;
    text-align: center;
    padding-left: 0;
  }

  #cta h2 {
    font-size: 1.3rem;
  }
  #cta p {
    font-size: 1rem;
  }
  .footnote q {
    font-size: 5em;
  }
  .footnote p {
    font-size: 0.8em;
  }

  footer {
    flex-direction: row;
    align-items: center;
    padding: 1rem 10%;
  }
  footer p {
    margin-bottom: 0;
  }
  .tc {
    margin-bottom: 0.25rem;
  }
}
